* text=auto

.gitattributes text eol=lf
*.go text eol=lf
go.mod text eol=lf
go.sum text eol=lf

*.sh text eol=lf
*.bat text eol=crlf
*.ps1 text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
